<div class='container text-center'>
    <br>

    <div class='row'>
        <div class='col-sm-6'>
            <h2>All current events: </h2>
            <% @upcoming_events.each do |event|%>
                <%= render partial: 'events/event' , locals: {event: event} %>
            <% end%>
        </div>

        <div class='col-sm-6'>
            <h2>Previous events: </h2>
            <% @previous_events.each do |event|%>
                <%= render partial: 'events/event' , locals: {event: event} %>
            <% end%>
        </div>
    </div>
    
</div>