<div class='navbar navbar-expand-md navbar-dark bg-dark'>

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id='navbar-toggler'>

        <ul class='navbar-nav'>
            <li><a class="nav-link" href="#">Menu</a></li>
        </ul>
       
      
    </div>

</div>


<div class='container'>
    <h1>EVENTS</h1>
    <button class='btn btn-primary'>Presionar</button>
</div>